*{margin: 0px; padding: 0px;}

.container{
    width: 80%;
    margin: 50px auto;
    text-align: center;
}

.task-header{
    color: indianred;
    margin: 40px 0px;
}

.logo{
    text-shadow: 2px 3px 3px grey;
}

@media only screen and (max-width: 720px) {
    .container{
        width: 95%;
    }
}